including libraries

In [29]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [30]:
data=pd.read_csv(r"C:\Users\GeetikSharma\c++programs\projects\flight data analysis\flight.csv")

In [31]:
print(data)

            id  year  month  day  dep_time  sched_dep_time  dep_delay  \
0            0  2013      1    1     517.0             515        2.0
1            1  2013      1    1     533.0             529        4.0
2            2  2013      1    1     542.0             540        2.0
3            3  2013      1    1     544.0             545       -1.0
4            4  2013      1    1     554.0             600       -6.0
...        ...   ...    ...  ...       ...             ...        ...
336771  336771  2013      9   30       NaN            1455        NaN
336772  336772  2013      9   30       NaN            2200        NaN
336773  336773  2013      9   30       NaN            1210        NaN
336774  336774  2013      9   30       NaN            1159        NaN
336775  336775  2013      9   30       NaN             840        NaN

        arr_time  sched_arr_time  arr_delay  ... flight  tailnum origin dest  \
0          830.0             819       11.0  ...   1545   N14228    EWR  IAH
1          850.0             830       20.0  ...   1714   N24211    LGA  IAH
2          923.0             850       33.0  ...   1141   N619AA    JFK  MIA
3         1004.0            1022      -18.0  ...    725   N804JB    JFK  BQN
4          812.0             837      -25.0  ...    461   N668DN    LGA  ATL
...          ...             ...        ...  ...    ...      ...    ...  ...
336771       NaN            1634        NaN  ...   3393      NaN    JFK  DCA
336772       NaN            2312        NaN  ...   3525      NaN    LGA  SYR
336773       NaN            1330        NaN  ...   3461   N535MQ    LGA  BNA
336774       NaN            1344        NaN  ...   3572   N511MQ    LGA  CLE
336775       NaN            1020        NaN  ...   3531   N839MQ    LGA  RDU

       air_time  distance  hour  minute            time_hour  \
0         227.0      1400     5      15  2013-01-01 05:00:00
1         227.0      1416     5      29  2013-01-01 05:00:00
2         160.0      1089     5      40  2013-01-01 05:00:00
3         183.0      1576     5      45  2013-01-01 05:00:00
4         116.0       762     6       0  2013-01-01 06:00:00
...         ...       ...   ...     ...                  ...
336771      NaN       213    14      55  2013-09-30 14:00:00
336772      NaN       198    22       0  2013-09-30 22:00:00
336773      NaN       764    12      10  2013-09-30 12:00:00
336774      NaN       419    11      59  2013-09-30 11:00:00
336775      NaN       431     8      40  2013-09-30 08:00:00

                          name
0        United Air Lines Inc.
1        United Air Lines Inc.
2       American Airlines Inc.
3              JetBlue Airways
4         Delta Air Lines Inc.
...                        ...
336771       Endeavor Air Inc.
336772       Endeavor Air Inc.
336773               Envoy Air
336774               Envoy Air
336775               Envoy Air

[336776 rows x 21 columns]

getting all data types in data

In [32]:
print(data.dtypes)

id                  int64
year                int64
month               int64
day                 int64
dep_time          float64
sched_dep_time      int64
dep_delay         float64
arr_time          float64
sched_arr_time      int64
arr_delay         float64
carrier            object
flight              int64
tailnum            object
origin             object
dest               object
air_time          float64
distance            int64
hour                int64
minute              int64
time_hour          object
name               object
dtype: object

getting shape of data

In [33]:
print(data.shape)

(336776, 21)

getting columns name in list

In [34]:
print(data.columns)

Index(['id', 'year', 'month', 'day', 'dep_time', 'sched_dep_time', 'dep_delay',
       'arr_time', 'sched_arr_time', 'arr_delay', 'carrier', 'flight',
       'tailnum', 'origin', 'dest', 'air_time', 'distance', 'hour', 'minute',
       'time_hour', 'name'],
      dtype='object')

getting all flight name in data

In [35]:
flight_names=(data['name'].unique())

In [36]:
print(flight_names)

['United Air Lines Inc.' 'American Airlines Inc.' 'JetBlue Airways'
 'Delta Air Lines Inc.' 'ExpressJet Airlines Inc.' 'Envoy Air'
 'US Airways Inc.' 'Southwest Airlines Co.' 'Virgin America'
 'AirTran Airways Corporation' 'Alaska Airlines Inc.' 'Endeavor Air Inc.'
 'Frontier Airlines Inc.' 'Hawaiian Airlines Inc.' 'Mesa Airlines Inc.'
 'SkyWest Airlines Inc.']

cleaning of dataset

In [44]:
# data.drop(columns='index ')
# #use to drop a column

In [45]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336776 entries, 0 to 336775
Data columns (total 21 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              336776 non-null  int64
 1   year            336776 non-null  int64
 2   month           336776 non-null  int64
 3   day             336776 non-null  int64
 4   dep_time        328521 non-null  float64
 5   sched_dep_time  336776 non-null  int64
 6   dep_delay       328521 non-null  float64
 7   arr_time        328063 non-null  float64
 8   sched_arr_time  336776 non-null  int64
 9   arr_delay       327346 non-null  float64
 10  carrier         336776 non-null  object
 11  flight          336776 non-null  int64
 12  tailnum         334264 non-null  object
 13  origin          336776 non-null  object
 14  dest            336776 non-null  object
 15  air_time        327346 non-null  float64
 16  distance        336776 non-null  int64
 17  hour            336776 non-null  int64
 18  minute          336776 non-null  int64
 19  time_hour       336776 non-null  object
 20  name            336776 non-null  object
dtypes: float64(5), int64(10), object(6)
memory usage: 54.0+ MB
None

In [46]:
print (data.describe())

                  id      year          month            day       dep_time  \
count  336776.000000  336776.0  336776.000000  336776.000000  328521.000000
mean   168387.500000    2013.0       6.548510      15.710787    1349.109947
std     97219.001466       0.0       3.414457       8.768607     488.281791
min         0.000000    2013.0       1.000000       1.000000       1.000000
25%     84193.750000    2013.0       4.000000       8.000000     907.000000
50%    168387.500000    2013.0       7.000000      16.000000    1401.000000
75%    252581.250000    2013.0      10.000000      23.000000    1744.000000
max    336775.000000    2013.0      12.000000      31.000000    2400.000000

       sched_dep_time      dep_delay       arr_time  sched_arr_time  \
count   336776.000000  328521.000000  328063.000000   336776.000000
mean      1344.254840      12.639070    1502.054999     1536.380220
std        467.335756      40.210061     533.264132      497.457142
min        106.000000     -43.000000       1.000000        1.000000
25%        906.000000      -5.000000    1104.000000     1124.000000
50%       1359.000000      -2.000000    1535.000000     1556.000000
75%       1729.000000      11.000000    1940.000000     1945.000000
max       2359.000000    1301.000000    2400.000000     2359.000000

           arr_delay         flight       air_time       distance  \
count  327346.000000  336776.000000  327346.000000  336776.000000
mean        6.895377    1971.923620     150.686460    1039.912604
std        44.633292    1632.471938      93.688305     733.233033
min       -86.000000       1.000000      20.000000      17.000000
25%       -17.000000     553.000000      82.000000     502.000000
50%        -5.000000    1496.000000     129.000000     872.000000
75%        14.000000    3465.000000     192.000000    1389.000000
max      1272.000000    8500.000000     695.000000    4983.000000

                hour         minute
count  336776.000000  336776.000000
mean       13.180247      26.230100
std         4.661316      19.300846
min         1.000000       0.000000
25%         9.000000       8.000000
50%        13.000000      29.000000
75%        17.000000      44.000000
max        23.000000      59.000000

to check null values in dataset we use isnull function

In [47]:
print(data.isnull())

           id   year  month    day  dep_time  sched_dep_time  dep_delay  \
0       False  False  False  False     False           False      False
1       False  False  False  False     False           False      False
2       False  False  False  False     False           False      False
3       False  False  False  False     False           False      False
4       False  False  False  False     False           False      False
...       ...    ...    ...    ...       ...             ...        ...
336771  False  False  False  False      True           False       True
336772  False  False  False  False      True           False       True
336773  False  False  False  False      True           False       True
336774  False  False  False  False      True           False       True
336775  False  False  False  False      True           False       True

        arr_time  sched_arr_time  arr_delay  ...  flight  tailnum  origin  \
0          False           False      False  ...   False    False   False
1          False           False      False  ...   False    False   False
2          False           False      False  ...   False    False   False
3          False           False      False  ...   False    False   False
4          False           False      False  ...   False    False   False
...          ...             ...        ...  ...     ...      ...     ...
336771      True           False       True  ...   False     True   False
336772      True           False       True  ...   False     True   False
336773      True           False       True  ...   False    False   False
336774      True           False       True  ...   False    False   False
336775      True           False       True  ...   False    False   False

         dest  air_time  distance   hour  minute  time_hour   name
0       False     False     False  False   False      False  False
1       False     False     False  False   False      False  False
2       False     False     False  False   False      False  False
3       False     False     False  False   False      False  False
4       False     False     False  False   False      False  False
...       ...       ...       ...    ...     ...        ...    ...
336771  False      True     False  False   False      False  False
336772  False      True     False  False   False      False  False
336773  False      True     False  False   False      False  False
336774  False      True     False  False   False      False  False
336775  False      True     False  False   False      False  False

[336776 rows x 21 columns]

getting the name of flight conpanies with null values

we use loc to select a row depending on condition

In [55]:
companies_null_value=(data.loc[data["dep_time"].isnull() | data["arr_time"].isnull(),"name"].unique())

In [58]:
print(data.loc[data['name'].isin( companies_null_value ),["flight","name"]])

        flight                    name
0         1545   United Air Lines Inc.
1         1714   United Air Lines Inc.
2         1141  American Airlines Inc.
3          725         JetBlue Airways
4          461    Delta Air Lines Inc.
...        ...                     ...
336771    3393       Endeavor Air Inc.
336772    3525       Endeavor Air Inc.
336773    3461               Envoy Air
336774    3572               Envoy Air
336775    3531               Envoy Air

[336434 rows x 2 columns]

Q1. what are the airlines in dataset ,accompained by their frequencies

In [59]:
print(data['name'].unique())

['United Air Lines Inc.' 'American Airlines Inc.' 'JetBlue Airways'
 'Delta Air Lines Inc.' 'ExpressJet Airlines Inc.' 'Envoy Air'
 'US Airways Inc.' 'Southwest Airlines Co.' 'Virgin America'
 'AirTran Airways Corporation' 'Alaska Airlines Inc.' 'Endeavor Air Inc.'
 'Frontier Airlines Inc.' 'Hawaiian Airlines Inc.' 'Mesa Airlines Inc.'
 'SkyWest Airlines Inc.']

In [ ]:
print(data['name'].value_counts())
# value_counts the frequency of unique element in column

name
United Air Lines Inc.          58665
JetBlue Airways                54635
ExpressJet Airlines Inc.       54173
Delta Air Lines Inc.           48110
American Airlines Inc.         32729
Envoy Air                      26397
US Airways Inc.                20536
Endeavor Air Inc.              18460
Southwest Airlines Co.         12275
Virgin America                  5162
AirTran Airways Corporation     3260
Alaska Airlines Inc.             714
Frontier Airlines Inc.           685
Mesa Airlines Inc.               601
Hawaiian Airlines Inc.           342
SkyWest Airlines Inc.             32
Name: count, dtype: int64