Starting with pandas

In [5]:
import pandas as pd

readingn existing dataframe

In [6]:
df=pd.read_csv("data.csv") 
#we can give encoding utf8 or latin1

for excel we can select pd.read_excel for jshon file we can use pd.read_jshon and for csv we can use pd.read_csv

saving of new dataframe

In [7]:
# data={"name":["ram","radha","krishna","arjun","shiv"], "age":[100,100,123,125,562]}
# df=pd.DataFrame(data)

In [8]:
# df.to_csv('create.csv',index=False)

to excude index we can do index=False


to save file in excel form we can do df.to_excel('filename.xlsx')
for jshon df.to_jshon("fielname.jshon")

head (n) display first n rows if not given show first 5
tail(n) similar to head

In [9]:
print("first 10 data set",df.head(10))

first 10 data set    Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0
5        60  '2020/12/06'    102       127     300.0
6        60  '2020/12/07'    110       136     374.0
7       450  '2020/12/08'    104       134     253.3
8        30  '2020/12/09'    109       133     195.1
9        60  '2020/12/10'     98       124     269.0

In [10]:
print("display lad 10 rows",df.tail(10))

display lad 10 rows     Duration          Date  Pulse  Maxpulse  Calories
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

to get the datatypes in dataframe

In [11]:
print(df.dtypes)

Duration      int64
Date         object
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

displaying the complete information of dataframe

In [12]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB
None

df.discribe() use to get statical data of your dataframe

In [13]:
print(df.describe())

         Duration       Pulse    Maxpulse    Calories
count   32.000000   32.000000   32.000000   30.000000
mean    68.437500  103.500000  128.500000  304.680000
std     70.039591    7.832933   12.998759   66.003779
min     30.000000   90.000000  101.000000  195.100000
25%     60.000000  100.000000  120.000000  250.700000
50%     60.000000  102.500000  127.500000  291.200000
75%     60.000000  106.500000  132.250000  343.975000
max    450.000000  130.000000  175.000000  479.000000

In [14]:
print(df.shape)
#give no of rows and columns in tuple

(32, 5)

In [15]:
print(df.columns)
#return columns name in list

Index(['Duration', 'Date', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')

In [16]:
print(df['Duration'])

0      60
1      60
2      60
3      45
4      45
5      60
6      60
7     450
8      30
9      60
10     60
11     60
12     60
13     60
14     60
15     60
16     60
17     60
18     45
19     60
20     45
21     60
22     45
23     60
24     45
25     60
26     60
27     60
28     60
29     60
30     60
31     60
Name: Duration, dtype: int64

In [17]:
print(df['Calories'])

0     409.1
1     479.0
2     340.0
3     282.4
4     406.0
5     300.0
6     374.0
7     253.3
8     195.1
9     269.0
10    329.3
11    250.7
12    250.7
13    345.3
14    379.3
15    275.0
16    215.2
17    300.0
18      NaN
19    323.0
20    243.0
21    364.2
22    282.0
23    300.0
24    246.0
25    334.5
26    250.0
27    241.0
28      NaN
29    280.0
30    380.3
31    243.0
Name: Calories, dtype: float64

selecting a specific column and filtering of rows and columns

In [18]:
print(df[df["Calories"]>400])

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
4        45  '2020/12/05'    117       148     406.0

In [22]:
print(df[(df["Calories"]>200)&(df["Calories"]<300)])

    Duration          Date  Pulse  Maxpulse  Calories
3         45  '2020/12/04'    109       175     282.4
7        450  '2020/12/08'    104       134     253.3
9         60  '2020/12/10'     98       124     269.0
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
20        45  '2020/12/20'     97       125     243.0
22        45           NaN    100       119     282.0
24        45  '2020/12/24'    105       132     246.0
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
31        60  '2020/12/31'     92       115     243.0